*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    color: white;
}
.in{
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
}
.container1{
    width: 140px; 
    height: 45px;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: rgb(69, 66, 66);
}
.container2{
    display: flex;
}

.container3{
    display: flex;
    width: 140px;
}
.box{
    color: white;
    width: 35px;
    height: 35px;
}
.box1{
    background-color: rgb(69, 66, 66);
}
.box3,.box17{
    background-color: gray;
}
.box2{
    background-color: orange;
}
.box17{
flex: 2;
height: 35;
}